.App {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-gap: 8px;
  padding: 16px;
  background-color: #e38082;
  letter-spacing: 1px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}
