.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 16px;
  flex-direction: column;
  padding: 16px;
  background-color: #578368;
  letter-spacing: 1px;
  cursor: default;
}

/* @media screen and (min-width: 1200px) {
  .App {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
  }
} */

.App-header {
  display: flex;
  grid-gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* @media screen and (min-width: 1200px) {
  .App-header {
    justify-content: start;
  }
} */
.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}

h1 {
  margin: 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
  width: 90%;
  max-width: 420px;
}

button {
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #649149;
  color: #ffffff;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.06);
}

button:disabled {
  cursor: default;
  opacity: .5;
}

.input-wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 4px;
  width: 90%;
  max-width: 420px;
  text-align:left;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease-in-out;
}

/* Hover state */
input[type="text"]:hover {
  background-color: #e0e0e0;
}


input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Label styles */
label {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: bold;
}

/* Placeholder styles */
::placeholder {
  color: #b7b7b7;
}


code {
  background-color: #42607b;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
  line-height: 1.5;
  white-space: pre-wrap;
}
